/*A CODE-PILOT logo elemeinek beállítása */
.code_pilot_container {
    position: relative;
    width: 110px;
    height: 23px;
    margin: 3px;
}
.code_pilot, .code_pilot_anim_bg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.code_pilot {
    z-index: 1;
}
.code_pilot_anim_bg {
    z-index: 0;
    top: 0;
    left: 0;
    background-image: url(../resources/index_images/code_pilot_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.code_pilot:hover {
    animation-name: code_pilot_anim;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes code_pilot_anim {
    5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0;
        z-index: 0;
    }
    95% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 1;
        z-index: 1;
    }
}
.code_pilot:hover + .code_pilot_anim_bg {
    animation-name: code_pilot_anim_bg_anim;
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}   
@keyframes code_pilot_anim_bg_anim {
    25% {
        z-index: 1;
        background-position: right;
        transform: scale(1.0);
        box-shadow: none;
    }
    60% {
        transform: scale(1.2);
        box-shadow: 0 0 5px 3px var(--color_white);
    }
    95% {
        background-position: left;
        transform: scale(1.0);
        box-shadow: none;
    }
    100% {
        z-index: 0;
    }
}