@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@property --color_main_blue {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(0, 180, 250, 0.1)
}

@property --color_glow_blue {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(11, 138, 211, 0.8)
}

@property --color_active_red {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(255, 80, 80, 0.8)
}

@property --color_font {
    syntax: "<color>";
    inherits: true;
    initial-value: rgba(80,0,0, 0.8);
}

@property --color_white {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(255, 255, 255);
}


/* ----------------------------- */
/* A RESET beállítása            */
/* ----------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
}
textarea, input {
    border: 0;
    outline: 0;
}



/* ----------------------------- */
/* A HTML elemeinek beállítása   */
/* ----------------------------- */
html {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
body {
    min-width: 330px;
    display: grid;
    grid-template-columns: auto 66px;
    grid-template-areas:
    "HEADER HEADER"
    "NAV ASIDE"
    "MAIN MAIN"
    "FOOTER FOOTER";
/*     overflow: hidden scroll; */
}
body, html {
    position: relative;
    overflow-x: clip;
}


/* ---------------------------------- */
/* Az általános stílusok beállítása   */
/* ---------------------------------- */
.box-shadow_white {
    box-shadow: 0 0 5px 3px var(--color_white);
}
.opacity_60 {
    opacity: 0.6;
}
.box-shadow_glblue {
    box-shadow: 0 0 8px 2px var(--color_glow_blue);
}
.glowing-button {
    position: relative;
    color: var(--color_font);
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 700;
    padding: 8px;
    margin: 1px;
    background: transparent;
    transition: all 0.8s linear;
}
.glowing-button .button-text {
    position: relative;
    z-index: 1;
}
.glowing-button:hover {
    color: var(--color_glow_blue);
    text-shadow: 0 0 8px var(--color_glow_blue);
}
.glowing-button.active {
    color: var(--color_active_red);
    text-shadow: 0 0 8px var(--color_active_red);
}
.glowing-button .top-bottom, .glowing-button .left-right {
    position: absolute;
    inset: 0;
    display: block;
}
.glowing-button .top-bottom::before, .glowing-button .top-bottom::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    background-color: var(--color_glow_blue);
    transition: all 0.8s ease-in-out;
}
.glowing-button .top-bottom::before {
    top: 0;
}
.glowing-button .top-bottom::after {
    bottom: 0;
}
.glowing-button:hover .top-bottom::before, .glowing-button:hover .top-bottom::after {
    box-shadow: 0 0 8px 2px var(--color_glow_blue);
    width: 100%;
}
.glowing-button.active .top-bottom::before, .glowing-button.active .top-bottom::after {
    background-color: var(--color_active_red);
    box-shadow: 0 0 8px 2px var(--color_active_red);
    width: 100%;
}
.glowing-button .left-right::before, .glowing-button .left-right::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    opacity: 0;
    background-color: var(--color_glow_blue);
}
.glowing-button .left-right::before {
    transition-property: opacity, box-shadow;
    transition-duration: 0s, 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.8s, 0s;
    left: 0;
}
.glowing-button .left-right::after {
    right: 0;
}
.glowing-button:hover .left-right::before, .glowing-button:hover .left-right::after {
    box-shadow: 0 0 8px 2px var(--color_glow_blue);
    opacity: 1;
}
.glowing-button:hover .left-right::before {
    transition-delay: 0s, 0s;
}
.glowing-button:hover .left-right::after {
    transition-delay: 0.8s;
}
.glowing-button.active .left-right::before, .glowing-button.active .left-right::after {
    opacity: 1;
    background-color: var(--color_active_red);
    box-shadow: 0 0 8px 2px var(--color_active_red);
}



/* ----------------------------- */
/* A HEADER elemeinek beállítása */
/* ----------------------------- */
header {
    grid-area: HEADER;
    display: flex;
    justify-content: center;
    padding: 25px;
    background-image:
    url(../resources/index_images/header_background/hbg_1.png),
    url(../resources/index_images/header_background/hbg_2.png),
    url(../resources/index_images/header_background/hbg_3.png),
    url(../resources/index_images/header_background/hbg_4.png),
    url(../resources/index_images/header_background/hbg_5.png);
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 20px 20px var(--color_white) inset;
    animation-name: header_anim;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes header_anim {
    0%, 10% {
        background-image: url(../resources/index_images/header_background/hbg_1.png);
    }
    20%, 30% {
        background-image: url(../resources/index_images/header_background/hbg_2.png);
    }
    40%, 50% {
        background-image: url(../resources/index_images/header_background/hbg_3.png);
    }
    60%, 70% {
        background-image: url(../resources/index_images/header_background/hbg_4.png);
    }
    80%, 90% {
        background-image: url(../resources/index_images/header_background/hbg_5.png);
    }
}
.header_items {
    display: grid;
    grid-template-areas:
    "LOGO"
    "INFO";
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 20px;
    width: 300px;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 5px;
}
.header_items img{
    object-fit: cover;
}
.logo {
    grid-area: LOGO;
    height: 150px;
}    
.lhsz_info {
    grid-area: INFO;
    height: 150px;
}
.lhsz_slogan {
    grid-area: ANIM;
    display: none;
    width: 540px;
    height: 150px;
}

/* ----------------------------- */
/* A NAV elemeinek beállítása   */
/* ----------------------------- */
nav {
    grid-area: NAV;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 1svh;
    width: 66px;
    padding: 0.5rem;
    z-index: 8;
}
nav ul.toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: normal;
    position: relative;
    height: 50px;
    width: 50px;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    transition: all 0.5s linear;
    cursor: pointer;
    z-index: 10;
}
nav ul.toggle.menu-active {
    background-color: var(--color_active_red);
    box-shadow: 0 0 8px 2px var(--color_active_red);
}
nav ul.toggle li {
    list-style: none;
    position: relative;
    width: 80%;
    height: 4px;
    background: var(--color_font);
    transition: all 0.8s linear;
}
nav ul.toggle.menu-active li:nth-of-type(1) {
    transform: translateY(13.5px) rotate(45deg);
}
nav ul.toggle.menu-active li:nth-of-type(2) {
    opacity: 0;
}
nav ul.toggle.menu-active li:nth-of-type(3) {
    transform: translateY(-13.5px) rotate(-45deg);
}
nav ul.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72px;
    translate: -110%;
    list-style-type: none;
    padding: 3px;
    transition: 0.8s;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 5px;
}
nav ul.menu.menu-active {
    translate: 0;
}
nav ul.menu li {
    list-style: none;
    position: relative;
    width: 200px;
    text-align: left;
}
nav ul.menu li a {
    text-decoration: none;
    display: block;
}


/* ------------------------------ */
/* Az ASIDE rész elemeinek beállítása */
/* ------------------------------ */
aside {
    grid-area: ASIDE;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    position: sticky;
    width: 66px;
    /* height: calc(100dvh - 78px); */
    /* overflow: hidden; */
/*     overflow-x: hidden;
    overflow-y: visible; */
    padding: 0.5rem;
    top: 1svh;
    left: calc(100% - 66px);
    z-index: 8;
}
aside .aside_toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    transition: all 0.8s linear;
    cursor: pointer;
    z-index: 10;
}
aside .aside_toggle.aside-active {
    background-color: var(--color_active_red);
    box-shadow: 0 0 8px 2px var(--color_active_red);
}
aside .aside_toggle img {
    width: 42px;
    height: 42px;
    transition: all 0.8s linear;
}
aside .aside_toggle.aside-active img {
    opacity: 0;
}
aside .aside_toggle::before {
    opacity: 0;
    content: "";
    width: 80%;
    height: 4px;
    background: var(--color_font);
    transition: all 0.8s linear;
}
aside .aside_toggle.aside-active::before {
    opacity: 1;
    transform: translateY(22.5px) rotate(45deg);
}
aside .aside_toggle::after {
    opacity: 0;
    content: "";
    width: 80%;
    height: 4px;
    background: var(--color_font);
    transition: all 0.8s linear;
}
aside .aside_toggle.aside-active::after {
    opacity: 1;
    transform: translateY(-22.5px) rotate(-45deg);
}
aside .aside_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    position: absolute;
    top: 72px;
    translate: 120%;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    transition: all 0.8s ease;
    z-index: 8;
}
aside .aside_content.aside-active {
    translate: 0;
}
/* .aside_content.aside-active aside {
    overflow-x: hidden;
} */
aside .aside_content .aside_content_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 110px;
    padding: 5px;
}
aside img {
    object-fit: cover;
}
aside .aside_content a {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}




/* ------------------------------ */
/* A MAIN rész elemeinek beállítása */
/* ------------------------------ */
main {
    grid-area: MAIN;
    /*     display: grid;
    grid-template-columns: auto calc(100px + 2%); */
    position: relative;
    /* margin-top: -90svh; */
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 60vh;
}
div.index-content {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../resources/index_images/index_bg.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 0 20px 20px var(--color_white) inset;
    
}
div.contact-content {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas:
    "FORM FORM"
    "MAP MAP";
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    column-gap: 5vw;
    width: 100%;
    height: 100%;
    background-image: url(../resources/contact_images/contact_bg.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 0 20px 20px var(--color_white) inset;
}
/* ----------------------------- */
/* A MAIN/FORM elemeinek beállítása   */
/* ----------------------------- */
div.contact {
    grid-area: FORM;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(3px);
}

div.contact h2 {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--color_font);
    text-align: center;
    padding: 0 4rem;
    margin: 1rem;
}
div.contact form {
    width: clamp(300px, 45vw, 800px);
    text-align: center;
}
form div.field input.form-item,
form div.field textarea.form-item {
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: 2px solid var(--color_glow_blue);
    border-radius: 5px;
    font-family: inherit;
    font-size: 0.8rem;
    margin-top: 11px;
}
form div.field input.form-item.blank,
form div.field input.form-item.error,
form div.field textarea.form-item.blank {
    border: 2px solid var(--color_active_red);
    box-shadow: 0 0 8px 2px var(--color_active_red);
}
form div.field .form-item::placeholder {
    color: var(--color_font);
}
form div.field div.blank-txt,
form div.field div.error-txt {
    display: none;
    font-size: 0.8rem;
    color: var(--color_active_red);
    text-align: left;
    margin-top: 3px;
    margin-bottom: 8px;
}
form div.field.blank .blank-txt {
    display: block;
}
form div.field.error .error-txt {
    display: block;
}
form div.textarea-field .blank-txt {
    margin-top: -1px;
}
form div.textarea-field .form-item {
    resize: none;
}
form button.glowing-button {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    color: var(--color_font);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: inherit;
    cursor: pointer;
    margin: 10px;
}

.map {
    grid-area: MAP;
    text-align: center;
    margin-bottom: 25svh;
}
.map iframe {
    width: clamp(300px, 60vw, 800px);
}


/* ----------------------------- */
/* A FOOTER elemeinek beállítása */
/* ----------------------------- */
footer {
    grid-area: FOOTER;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
}
/* ------------------------------ */
/* A FOOTER/FLIGHTINFO rész elemeinek beállítása */
/* ------------------------------ */
div.flightinfo {
/*     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
    position: absolute;
    top: -8svh;
/*     gap: 10px; */
/*     width: 220px; */
/*     padding-bottom: 1rem; */
    z-index: 8;
}
.flightinfo .flightinfo-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    color: var(--color_font);
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    transition: all 0.8s linear;
    cursor: pointer;
    z-index: 10;
}
.flightinfo .flightinfo-toggle.flightinfo-active {
    background-color: var(--color_active_red);
    box-shadow: 0 0 8px 2px var(--color_active_red);
}
.flightinfo .flightinfo-toggle img {
    width: 42px;
    height: 42px;
    transition: all 0.8s linear;
}
.flightinfo .flightinfo-toggle.flightinfo-active img {
    opacity: 0;
}
.flightinfo .flightinfo-toggle::before {
    opacity: 0;
    content: "";
    width: 80%;
    height: 4px;
    background: var(--color_font);
    transition: all 0.8s linear;
}
.flightinfo .flightinfo-toggle.flightinfo-active::before {
    opacity: 1;
    transform: translateY(22.5px) rotate(45deg);
}
.flightinfo .flightinfo-toggle::after {
    opacity: 0;
    content: "";
    width: 80%;
    height: 4px;
    background: var(--color_font);
    transition: all 0.8s linear;
}
.flightinfo .flightinfo-toggle.flightinfo-active::after {
    opacity: 1;
    transform: translateY(-22.5px) rotate(-45deg);
}
.flightinfo ul.flightinfo-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -18svh;
    list-style-type: none;
    padding: 3px;
    translate: -110%;
    transition: 0.8s;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    z-index: 8;
}
.flightinfo ul.flightinfo-menu.flightinfo-active {
    translate: 0;
}
.flightinfo ul.flightinfo-menu li {
    list-style: none;
    position: relative;
    width: 200px;
    text-align: left;
}
.flightinfo ul.flightinfo-menu li a {
    text-decoration: none;
    display: block;
}

.footer_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 1%;
    width: 100%;
    min-width: 330px;
    z-index: 1;
    padding: 5px;
    background: transparent;
    backdrop-filter: blur(3px);
    border-radius: 5px;
}
.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: fit-content;
}
.social_media_items{
    padding: 0 10px;
} 
.social_media_items img {
    height: 1.5rem;
    object-fit: cover;
    transition: all 0.3s linear;
}
.social_media_items img:hover {
    background-color: var(--color_glow_blue);
    box-shadow: 0 0 5px 5px var(--color_glow_blue);
}
.icons8, .copyright {
    position: relative;
    width: auto;
    height: auto;
    margin: 3px;
    white-space: nowrap;
    background-color: var(--color_white);
}
.copyright p, .icons8 p{
    padding: 2px;
    font-size: 0.75rem;
    color: var(--color_font);
}




@media screen and (min-width: 768px) {
    .header_items{
        grid-template-areas:
        "LOGO INFO"
        "ANIM ANIM";
        width: 600px;
        height: 380px;
    }
    .lhsz_slogan {
        display: block;
    }
    div.contact-content {
        grid-template-areas:
        "FORM FORM"
        "MAP MAP";
    }
    .contact form .input-box {
        display: flex;
        justify-content: space-between;
    }
    .input-box .input-field {
        width: 48%;
    }
}

@media screen and (min-width: 992px) {
    body {
        grid-template-areas:
        "HEADER HEADER"
        "NAV NAV"
        "MAIN ASIDE"
        "FOOTER FOOTER";
    }
    nav {
        display: block;
        width: auto;
        height: auto;
    }
    nav ul {
        margin: auto;
    }
    nav ul.toggle{
        display: none;
    }
    nav ul.menu {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        position: static;
        translate: 0;
    }
    nav ul.menu li {
        display: inline;
        width: auto;
    }
    aside {
        top: 72px;
    }
    aside .aside_toggle {
        display: none;
    }
    aside .aside_content {
        position: sticky;
        translate: 0;
        height: calc(100vh - 80px);
    }
    main {
        margin-top: 0;
        width: calc(100vw - 150px);
    }
    footer {
        width: calc(100vw - 140px);
    }
}

@media screen and (min-width: 1200px) {
    header {
        background-size: contain;
        background-repeat: repeat-x;
    }
    .header_items {
        grid-template-areas:
        "LOGO INFO ANIM";
        justify-content: space-evenly;
        width: auto;
        height: auto;
    }
}